<div *ngIf="!isAdmin">
  <app-navbar></app-navbar>
  <main>
    <router-outlet></router-outlet>
  </main>
  <app-footer></app-footer>
</div>

<div *ngIf="isAdmin" data-layout-config='{"leftSideBarTheme":"dark","layoutBoxed":false, "leftSidebarCondensed":false, "leftSidebarScrollable":false, "showRightSidebarOnStart": true}'>
  <!-- Begin page -->
  <div class="wrapper">
    <app-left-sidebar></app-left-sidebar>
    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->
    <div class="content-page">
      <div class="content">
        <app-topbar></app-topbar>
        <main>
          <router-outlet></router-outlet>
        </main>
      </div> <!-- content -->
      <app-footer></app-footer>
    </div>
    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->
  </div>
  <!-- END wrapper -->
  <app-right-sidebar></app-right-sidebar>
</div>
